body {
    background-image: url(https://images.pexels.com/photos/5864245/pexels-photo-5864245.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    margin: auto 0;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    text-align: left ;
    color: black;
    padding: 15px 30px;
    margin:50px 30px;
    background:  #C7B9B1 ;
    border:1px solid  #444444;
    border-radius: 4%;
    cursor: pointer;
}

h2{
    color: rgb(245, 245, 236);
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    border-bottom: 2px solid pink ;
    border-right: 2px solid pink;
    border-top: 2px solid pink;
    box-shadow: 4px 4px 5px #888888;
    width: 400px;
}

